@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: "Ubuntu", sans-serif;
}
html,body{
    height: 100%;
    margin: 0px;
}


.navbar.navbar-expand-lg{
    font-weight: bold;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand img{    
    width: 80px;
    margin-left: 30px;
}


.links-navbar {
    list-style: none;
    
    color: #7436D4ff;
    cursor: pointer;
    display: flex;
    align-items:center;
    justify-content: space-between;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 90px;

}

.links-navbar li{
    margin-right: 15px;
    
}

.links-navbar li:hover{
    color: #F6C101;
    transition: 500ms ease;
    
}